apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: example-app-prod
  namespace: argocd
  labels:
    app: example-app
    environment: prod
spec:
  ignoreDifferences:
    - group: apps
      kind: Deployment
      jsonPointers:
        - /spec/replicas
  project: default
  source:
    repoURL: http://gitlab.gitlab.svc.cluster.local/example/k8s-deployments.git
    targetRevision: prod
    path: manifests/prod
  destination:
    server: https://kubernetes.default.svc
    namespace: prod
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
      allowEmpty: false
    syncOptions:
      - CreateNamespace=true
      - PruneLast=true
    retry:
      limit: 5
      backoff:
        duration: 5s
        factor: 2
        maxDuration: 3m
